@page "/logoutPage"
    <style>
    
     .loginCard {
        width: 100% !important;
        max-width: 100% !important;
        flex: 0 0 100%;
        height: 20%;
    }
</style>
@model  bbt.service.notification.ui.Pages.Authorize.LogoutModel
@{

  
    <div class="col-6 loginCard" style="margin-left:30%;margin-top:5%">
                                                    <div class="card " style="width:40%;height:100%;margin-top:50px;">
                                                        <div class="card-body" style="background-color:	#fcfcfc;margin-top:20px;">
                                                          
                                                   
                                                                <div class="row" style="margin-left:23%;margin-top:35%">
                                                                   
                                                                    <div class="col-2"></div>
                                                                    <p style="margin-top:50px;font-size:19px;" class="col-8 text-center ">Bu sayfaya erişim için yetkiniz bulunmamaktadır.</p>
                                                                    <div class="col-2"></div>
                                                                </div>
                                                                 
                                                               
                                                                <div class="row"  style="margin-left:40%;margin-top:5%">
                                                                    <div class="col-4"></div>
                                                                     <a href="/login" class="col-4" style="display: block;
                                                                                                            width: 200px;
                                                                                                            height: 25px;
                                                                                                            background:#ff6d41;
                                                                                                            padding: 10px;
                                                                                                            text-align: center;
                                                                                                            border-radius: 5px;
                                                                                                            color: white;
                                                                                                           font-weight: bold;
                                                                                                           margin-left:-40px;
                                                                                                            line-height: 25px">Login</a>
                                                                    <div class="col-4"></div>
                                                                </div>
                                                       

                                                        </div>
                                                    </div>
    </div>
       
   //<p></p>
   // <div class="row">
   //     <div class="col-lg-4 mb-4">
   //     </div>
   //     <div class="col-lg-4 mb-4">
   //         <RadzenCard style="height: 100%;margin-bottom:1rem">
   //               <div class="row">
   //                       <div class="col-4"></div>
   //             <p  class="col-4 text-center">Yetkiniz için verilen süre bitmiştir. Tekrar Login olmanız gerekmektedir</p>
   //             <div class="col-4"></div>
   //            </div>
   //           <div class="row">
   //               <div class="col-4"></div>
   //                <a href="/login" class="col-4" style="display: block;
   // width: 115px;
   // height: 25px;
   // background: #4E9CAF;
   // padding: 10px;
   // text-align: center;
   // border-radius: 5px;
   // color: white;
   // font-weight: bold;
   // line-height: 25px;">Login</a>
   //                     <div class="col-4"></div>
   //           </div>
                   
               
   //         </RadzenCard>
   //     </div>
   //     <div class="col-lg-4 mb-4">
   //     </div>
   // </div>
   //</div>
}
